name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build:
    name: Build on JDK ${{ matrix.java }}, ${{ matrix.os }} and Vault ${{ matrix.vault }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java:
          - 11
        vault:
          - 1.12.11
          - 1.13.0
          - 1.13.1
          - 1.13.2
          - 1.13.3
          - 1.13.4
          - 1.13.5
          - 1.13.6
          - 1.13.7
          - 1.13.8
          - 1.14.0
          - 1.14.1
          - 1.14.2
          - 1.14.3
          - 1.14.4
          - 1.15.0
          - latest
        os:
        - ubuntu-latest
        - windows-latest
        include:
          # TODO(casz) remove once https://github.com/testcontainers/testcontainers-java/pull/1780 is available
          - os: 'ubuntu-latest'
            tasks: 'integrationTest'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            build
            ${{ matrix.tasks }}
            -s
            --info
        env:
          VAULT_VERSION: ${{ matrix.vault }}

      - uses: actions/upload-artifact@v4  # upload test results
        if: success() || failure()        # run this step even if previous step failed
        with:
          name: test-results
          path: build/test-results/
